/* wallust template - colors-rofi */

* {
    background:     #111014;
    background-alt: #39393C;
    foreground:     #CCF0FA;
    selected:       #963B3A;
    active:         #441B2F;
    urgent:         #100C17;
}

