/* wallust template - colors-rofi */

* {
    background:     #020202;
    background-alt: #020202;
    foreground:     #F6F8FB;
    selected:       #647C8F;
    active:         #131A24;
    urgent:         #020202;
}

