/* wallust template - colors-rofi */

* {
    background:     #191921;
    background-alt: #403F49;
    foreground:     #D1E0F1;
    selected:       #526E93;
    active:         #203080;
    urgent:         #0C1737;
}

